<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<span th:text="${Employees}"/>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>
    <a th:href="@{/employees/showFormForAdd}"
    class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
    <table class="table table-bordered table-striped">
        <thread class="table-dark">
            <tr>First Name</tr>
            <tr>Last Name</tr>
            <tr>email</tr>
            <tr>Action</tr>
        </thread>

        <tbody>
        <tr th:each="tempEmployee : ${employees}">
            <td th:text="$(tempEmployee.firstName}"/>
            <td th:text="$(tempEmployee.lastName}"/>
            <td th:text="$(tempEmployee.email}"/>
            <!-- added the Update Action-->
            <td>
                <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.Id})"
                    class="btn btm-info btm-sm">
                </a>
            </td>
            <!-- Added the delete Action -->
            <td>
                <a th:href="@{/employees/delete(employeeId=${tempEmployee.Id})"
                   class="btn btm-info btm-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) retuen false">
                    Delete
                </a>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>